@font-face { font-family: 'Museo Slab'; font-style: normal; font-weight: normal; src: url('../fonts/Museo_Slab_500.otf'); }
@font-face { font-family: 'Museo Sans'; font-style: normal; font-weight: normal; src: url('../fonts/exljbris - MuseoSans-500.otf'); }
@font-face { font-family: 'Georgia'; font-style: normal; font-weight: normal; src: url('../fonts/georgia.woff'); }
@font-face { font-family: 'europa'; font-style: normal; font-weight: normal; src: url('../fonts/EuropaNuovaRegular.woff'); }
body { font-family: europa, Arial, Helvetica, sans-serif; }
.filter { background-color: #eeeeee; }
tr.filter td { padding-top: 5px; padding-bottom: 5px; }
.combinator { font-weight: bold; font-size: 20px; text-align: center; }
#right { width: 150px; }
select,input[type=date],input[type=text],input[type=number] { font-size: 16px; }
input[type=number] { width: 60px; }
input[type=date] { width: 150px; }
td { padding-left: 15px; padding-right: 15px; }
td.cells,th.cells { text-align: center; padding-left: 5px; padding-right: 5px; }
h1,h2,h3,h4,h5,.h3 { text-align: center; font-family: "Museo Sans", Arial, Helvetica, sans-serif; }
h1 { font-size: 36px; }
h2 { font-size: 28px; letter-spacing: 0.3rem; position: relative; }
h2::before { content: ""; top: 50%; position: absolute; left: 0; right: 0; bottom: 0; text-align: center; z-index: -1; width: 95%; margin: 0 auto; border-top: 2px solid #d2d2eb; }
h3,.h3 { background-color: rgba(34.1,39.2,68.2,0.25); font-size: 22px; }
h4 { font-size: 18px; }
h5 { margin: 0; color: #444444; font-size: 15px; }
tr.odd td,tr.odd th,td.odd,th.odd { background-color: #d4d4eb; border: 0; }
input[readonly] { background-color: #bbbbbb; }
tr.even td,tr.even th,td.even,th.even { background-color: #fefefe; border: 0; }
li { padding-top: 12px; }
div.list { padding-top: 12px; }
.change, .r_change, .a_change { text-align: center; background-color: #a9fffc; font-weight: bold; color: black; font-size: 18px; }
.add { text-align: center; background-color: #c3ffc3; font-weight: bold; color: black; font-size: 18px; }
.remove { text-align: center; background-color: #ffc3c4; font-weight: bold; color: black; font-size: 18px; }
.takeover { text-align: center; background-color: #f1c1ff; font-weight: bold; color: black; font-size: 18px; }
a { color: black; }
div.left { border-left: 1px dotted black; border-right: 1px solid #888888; padding-left: 4px; padding-right: 4px; vertical-align: top; width: 32%; display: inline-block; }
div.middle { border-right: 1px dotted black; border-left: 1px solid #888888; padding-left: 4px; padding-right: 4px; vertical-align: top; width: 32%; display: inline-block; }
div.right { border-left: 1px dotted black; border-right: 1px solid #888888; padding-left: 4px; padding-right: 4px; vertical-align: top; width: 32%; display: inline-block; }
.small { font-size: 14px; }
.smaller,.smaller a { font-size: 13px; }
.smallest,.smallest a { font-size: 12px; }
.tookover td { background-color: #f4c3ff; padding: 0px; }
.tookover th { font-size: 12px; text-align: left; width: 125px; background-color: #f4c3ff; padding: 0px; }
.small_padding td { background-color: #eeeeee; padding: 0px; }
.small_padding th { font-size: 12px; text-align: left; width: 125px; background-color: #eeeeee; padding: 0px; }
.bin { vertical-align: top; border: 1px dotted #aaaaaa; }
.centered { text-align: center; }
.left-align { text-align: left; }
.bolded { font-weight: bold; }
.unbolded { font-weight: normal; }
div.centered,table.centered { margin: 0px auto; }
table { border-collapse: collapse; }
.duplicated { background-color: #fff360; }
.citation,.finalCitation,.finalOmit,.patent { padding: 5px; }
.citationCategories { float: right; background-color: white; margin: 2px; padding: 6px 3px 6px 3px; font-weight: bold; position: relative; display: inline-block; }
.citationCategories .tooltiptext { font-size: 13px; font-weight: normal; visibility: hidden; width: 250px; background-color: #555; color: #fff; text-align: center; padding: 5px 0; border-radius: 6px; position: absolute; z-index: 1; bottom: 100%; left: 50%; margin-left: -125px; opacity: 0; transition: opacity 0.3s; }
.citationCategories .tooltiptext b { font-size: 14px; font-weight: bold; }
.citationCategories:hover .tooltiptext { visibility: visible; opacity: 1; }
.citationCategories .tooltiptext::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent; }
.include { background-color: #c3ffc3; }
.exclude { background-color: #ffc3c4; }
.hidden { display: none; }
.biggerButton { font-size: 16px; }
.twoColumn { vertical-align: top; border: 1px dotted #aaaaaa; padding: 5px; }
.sticky { position: sticky; top: 100px; }
.stickyGrey { position: sticky; top: 0; background-color: #BBBBBB; }
.shadow { box-shadow: 2px 2px 4px grey; }
.bigShadow { box-shadow: 6px 6px 6px grey; }
.smallShadow { box-shadow: 2px 2px 2px grey; }
tr.borderedRow td,tr.borderedRow th { border: 1px solid #bbbbbb; }
tr.centeredRow td,tr.centeredRow th { text-align: center; }
tr.paddedRow td,tr.paddedRow th { padding: 5px; }
tr.padded td,tr.padded th { padding: 10px; }
tr.whiteRow td,tr.whiteRow th { background-color: white; }
tr.extraPaddedRow td,th { padding: 15px; }
.tooltip { position: relative; display: inline-block; text-decoration: underline; }
.tooltip .tooltiptext { visibility: hidden; width: 120px; font-size: 16px; background-color: #444444; color: #fff; text-align: center; padding: 5px 0; border-radius: 6px; position: absolute; z-index: 1; }
.tooltip:hover .tooltiptext { visibility: visible; }
.tooltip .widetooltiptext { visibility: hidden; width: 200px; background-color: #666666; color: white; text-align: center; padding: 5px 0; border-radius: 6px; position: absolute; z-index: 1; }
.tooltip:hover .widetooltiptext { visibility: visible; }
.lookup { clear: both; text-align: right; font-size: 11px; }
.lookupData { padding: 5px; background-color: #eeeeee; text-align: left; font-size: 14px; column-count: 2; column-gap: 10px; column-rule: 1px solid #888888; -moz-column-count: 2; -moz-column-gap: 10px; -moz-column-rule: 1px solid #888888; -webkit-column-count: 2; -webkit-column-gap: 10px; -webkit-column-rule: 1px solid #888888; display: none; }
.custom-combobox { position: relative; display: inline-block; }
.custom-combobox-toggle { position: absolute; top: 0; bottom: 0; margin-left: -1px; padding: 0; }
.custom-combobox-input { margin: 0; padding: 5px 10px; width: 200px; }
.padded { padding: 10px; }
table.padded tr td,table.padded tr th { padding: 10px; }
#content { margin-left: 225px; }   /* coordinated with .subnav */
.subnav { margin: 0; padding: 0; position: fixed; top: 125px; width: 225px; height: 100%; font-family: 'Museo Sans', sans-serif !important; text-align: center; background-color: transparent; overflow: auto; }    /* coordinated with #content and .w3-bar .topHeader */
.topHeader { background-color: white; height: 50px; top: 0px; width: 100%; }    /* coordinated with .w3-bar */
textarea.full { width: 800px; height: 400px; }
.subnav a { float: left; color: black; text-align: center; padding: 6px 4px; width: 100%; text-decoration: none; font-weight: bold; font-size: 16px; }
.subnav a:hover { background-color: white; color: black; animation-name: colorFade; animation-duration: 2s; }
@keyframes colorFade {
	0% { background-color: #aaaaaa; }
	100% { background-color: white; }
}
.minimal { width: min-content; }
.warning { color: white; }
.subnav a select { width: 100%; }
#help { display: none; padding: 16px; margin: 16px; background-color: rgba(229, 241, 213, 0.8); }   /* light green from logo */
#help p, #help ul, #help ol, #faq p, #faq ul, #faq ol { font-family: 'Georgia', 'Times New Roman', Times, serif; font-size: 1.1em; }
p.blockquote { padding-left: 15px; }
#mainHelp { column-count: 2; }
#faq { padding: 15px; column-count: 2; }
.nomargin { margin-top: 0; margin-bottom: 0; }
.halfMargin { margin-top: 0.5em; margin-bottom: 0.5em; }
ul.centered { text-align: center; list-style-type: none; list-style: inside; }
.wrapTightly { clear: both; width: min-content; }
input[type=text].long { width: 300px; }
input[type=datetime-local] { width: 225px; }
td.oneThird { width: 33%; vertical-align: top; border-left: 5px solid black; border-right: 5px solid black; }
.namesFiltered { height: 400px; width: 100%; overflow: scroll; background-color: rgba(255, 255, 255, 0.7); text-align: center; }
.nobreak { white-space: nowrap; }
canvas { background-color: white; margin-top: 25px; }
li.nobullets { list-style: none; }
.nowrap { white-space: nowrap; }
.centeredMinus50 { text-align: center; width: 50%; }
.max-width,.max-width-800 { margin-left: auto; margin-right: auto; max-width: 800px; }
.max-width-200 { margin-left: auto; margin-right: auto; max-width: 200px; }
.max-width-300 { margin-left: auto; margin-right: auto; max-width: 300px; }
.max-width-400 { margin-left: auto; margin-right: auto; max-width: 400px; }
.max-width-600 { margin-left: auto; margin-right: auto; max-width: 600px; }
.max-width-1000 { margin-left: auto; margin-right: auto; max-width: 1000px; }
table.bordered tr td,table.bordered tr th { border: 1px solid #888; }
table.bordered { border-collapse: collapse; }
.action_required { color: red; font-weight: bold; }
input[type=text].action_required,input[type=number].action_required { color: black; font-weight: normal; font-size: 16px; background-color: rgba(255, 0, 0, 0.5); }
td.bordered,p.bordered,div.bordered { border: 1px solid #888; }
.roundedBorder { border: 1px solid #888; border-radius: 5px; }
.finger { cursor: pointer; }
.blackBorder { border: 1px solid black; }
.red { background-color: #f0565d; }
.light_red { background-color: #f69ca0; }
.redtext { color: #f0565d; }
.green { background-color: #8dc63f; }
.light_green { background-color: #b0d87a; }
.really_light_green { background-color: #e8ffe8; }
.greentext { color: #8dc63f; }
.greenTextShadow { text-shadow: 2px 2px 6px #8dc63f; }
.darkgreentext { color: #547625; }
.yellow { background-color: #f1f6d6; }
.blue { background-color: #d4d4eb; }
.bluetext { color: #48489d; }
.blueBorder { border-radius: 10px; border: 4px solid #5764ae; }
.purple { background-color: #f4c3ff; }
.purpletext { color: #f4c3ff; }
.orange { background-color: #f79721; }
.grey { background-color: #dddddd; }
.greytext { color: #dddddd; }
.darkgreytext { color: #666666; }
.light_grey { background-color: #EEE; }
/* Coordinated with .red, .green, and .yellow */
.install-metadata-box-danger{ color: #a94442; background-color: #f0565d; border-color: #ebccd1; }
.install-metadata-box-warning{ color: #8a6d3b; background-color: #8dc63f; border-color: #faebcc; }
.install-metadata-box-success{ color: #3c763d; background-color: #f1f6d6; border-color: #d6e9c6; }
.install-metadata-box{ padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }
.oneAtATime input[type=text],.list textarea { font-size: 20px; width: 150px; }
.list textarea { height: 100px; }
.nounderline { text-decoration: none; }
.underline { text-decoration: underline; }
.alignright { text-align: right; }
td.leftAlignedCell,th.leftAlignedCell { text-align: left; padding-top: 15px; padding-bottom: 15px; }
td.leftAlignedCell p.citation,p.patent { padding: 6px 0; margin: 0; }
.sourceInCitation { font-weight: bold; color: #888; }
.smallmargin { margin: 5px 0; }
.bigger { font-size: 18px; }
textarea.config { width: 400px; height: 250px; }
textarea.bigTextarea { width: 600px; height: 200px; }
img.thumbnail { width: 125px; height: auto; }
.horizontal-scroll { overflow-x: scroll; overflow-y: hidden; white-space: nowrap; }
.horizontal-scroll div { display: inline-block; }
.horizontal-scroll table { display: inline-block; }
.horizontal-scroll table td div { display: block !important; }
.top-horizontal-scroll { height: 20px; overflow-x: scroll; overflow-y:hidden; }
.top-horizontal-scroll div { height: 20px; }
.noBorderCollapse { border-collapse: separate; }
.ui-dialog-titlebar { background-color: #d4d4eb; }
canvas.kaplanMeier { width: 800px !important; height: 600px !important; margin: 0 auto; }
.alignTop { vertical-align: top; }
.alignLeft { text-align: left !important; }
.predoc,.postdoc,.engaged,.kCareer { box-shadow: 0 0 6px 1px #444444 inset; padding: 3px 6px; cursor: pointer; font-size: 0.9em; }
.appointmentBox { text-align: center; margin: 0 auto; width: 120px; padding-top: 1.5em; font-size: 13px; padding-bottom: 6px; }
td.white,th.white { background-color: white; }
p.recessed { color: #888888; font-size: 11px; margin: 4px 12px 4px 12px; }
.recessed,.recessed a { color: #888888; font-size: 11px; }
p.recessed,div.recessed { margin: 2px; }
textarea,input[type=date] { font-family: 'Museo Slab', 'Times New Roman', Times, serif !important; font-size: 16px; }
.saveDivAtBottom { padding-bottom: 65px; padding-top: 2px; }


/* adapted from https://www.sliderrevolution.com/resources/styling-radio-buttons/ */
.switch { position: relative; padding: 0 1rem; }
.switch.size2 { width: 13rem; }
.switch.size2.short { position: relative; width: 8rem; }
.switch.size3 { width: 19.5rem; }
.switch.size4 { width: 26rem; }
.switch:before { content: '  '; position: absolute; left: 0; z-index: -1; width: 100%; height: 1.5rem; background: rgba(229, 241, 213, 0.8); border: 1px solid #888888; border-radius: 20px; }
.switch label { display: inline-block; width: 5.5rem; padding: 0.125rem 0.5rem; text-align: center; cursor: pointer; transition: color 400ms ease-out; }
.switch.short label { width: 2.5rem; }
.switch label:hover { color: #aaaaaa; }
.switch__indicator { width: 2.25rem; height: 2.25rem; position: absolute; top: -.375rem; left: 0; background: #48489d; border-radius: 50%; transform: translate3d(1rem,0,0);
	transition: transform 600ms cubic-bezier(.02,.94,.09,.97),
	background 300ms cubic-bezier(.17,.67,.14,1.03);
}
.switch input.switch1[type=radio]:checked ~ .switch__indicator { background: #48489d; transform: translate3d(3.125rem,0,0); }
.switch input.switch2[type=radio]:checked ~ .switch__indicator { background: #f0565d; transform: translate3d(8.75rem,0,0); }
.switch input.switch3[type=radio]:checked ~ .switch__indicator { background: #8dc63f; transform: translate3d(14.625rem,0,0); }
.switch input.switch4[type=radio]:checked ~ .switch__indicator { background: #f79721; transform: translate3d(20.5rem,0,0); }
.switch.short input.switch1[type=radio]:checked ~ .switch__indicator { transform: translate3d(1.75rem,0,0); }
.switch.short input.switch2[type=radio]:checked ~ .switch__indicator { transform: translate3d(4.25rem,0,0); }
.switch input[type=radio]:not(:checked), .switch input[type=radio]:checked { display: none; }
span.clickableOn { white-space: nowrap; padding: 4px; background-color: #8dc63f; cursor: pointer; border-radius: 6px; border: 1px solid #888; }
span.clickableOff { white-space: nowrap; padding: 4px; background-color: white; cursor: pointer; border-radius: 6px; border: 1px solid #888; }
div.scrollable { width: 100%; max-height: 75px; margin: 0; padding: 0; overflow: auto; }
.visualization { font-size: 12px; background-color: white; margin-bottom: 32px; margin-top: 32px; }
.Unfunded { border-color: #888888 !important; }
.Pending { border-color: #8dc63f !important; }
.Awarded { border-color: #f4c3ff !important; }
.sameLine { word-wrap:break-word; }
.strikethrough { text-decoration: line-through; }
.pilotGrant input[type='checkbox'] { -webkit-appearance: none; width: 16px; height: 16px; background: white; border-radius: 4px; border: 1px solid #888; }
.pilotGrant input[type='checkbox']:checked { background: #8dc63f; }
.pilotGrant { float: left; width: calc(100% - 75px); padding-left: 50px; font-size: 13px; }
.honorField { width: 350px; }
p.honorField { margin: 1em auto; }
td.dataForm { width: 370px; vertical-align: top; }
div.dataForm { background-color: #d4d4eb88; padding: 16px 10px; width: 100%; }
.inputDataForm { background-color: #dddddd88; }
textarea.pickDate { width: 180px; height: 44px; }
.meshOverlay { background: white; position: absolute; top: 0; bottom: 0; right: 0; left: 0; }
.noBottomMargin { margin-bottom: 0; }
.mb-2 { margin-bottom: 1em; }
.mb-4 { margin-bottom: 2em; }
.mb-6 { margin-bottom: 3em; }
.ft-blue-background { background-color: #48489d; color: white }
