@font-face { font-family: "GeoSans", sans-serif; src: url("../fonts/GeosansLight.ttf"); }
@font-face { font-family: 'Museo Sans'; font-style: normal; font-weight: normal; src: url('../fonts/exljbris - MuseoSans-500.otf'); }
body { font-family: Arial, Helvetica, sans-serif; }
.filter { background-color: #eeeeee; }
tr.filter td { padding-top: 5px; padding-bottom: 5px; }
.combinator { font-weight: bold; font-size: 20px; text-align: center; }
#right { width: 150px; }
select,input[type=date],input[type=text],input[type=number] { font-size: 16px; }
td { padding-left: 15px; padding-right: 15px; }
td.cells,th.cells { text-align: center; padding-left: 5px; padding-right: 5px; }
h1,h2,h3,h4,h5,.h3 { text-align: center; font-family: "Museo Sans"; }
h2 { background-color: rgba(34.1,39.2,68.2,0.25); font-size: 28px; }
h3,.h3 { background-color: rgba(34.1,39.2,68.2,0.35); font-size: 22px; }
h4 { font-size: 18px; }
h5 { margin: 0; color: #444444; font-size: 15px; }
tr.odd td,tr.odd th { background-color: #eeeeee; border: 0; }
tr.even td,tr.even th { background-color: #fefefe; border: 0; }
li { padding-top: 12px; }
div.list { padding-top: 12px; }
.change, .r_change, .a_change { text-align: center; background-color: #a9fffc; font-weight: bold; color: black; font-size: 18px; }
.add { text-align: center; background-color: #c3ffc3; font-weight: bold; color: black; font-size: 18px; }
.remove { text-align: center; background-color: #ffc3c4; font-weight: bold; color: black; font-size: 18px; }
.takeover { text-align: center; background-color: #f1c1ff; font-weight: bold; color: black; font-size: 18px; }
a { color: black; }
div.left { border-left: 1px dotted black; border-right: 1px solid #888888; padding-left: 4px; padding-right: 4px; vertical-align: top; width: 32%; display: inline-block; }
div.middle { border-right: 1px dotted black; border-left: 1px solid #888888; padding-left: 4px; padding-right: 4px; vertical-align: top; width: 32%; display: inline-block; }
div.right { border-left: 1px dotted black; border-right: 1px solid #888888; padding-left: 4px; padding-right: 4px; vertical-align: top; width: 32%; display: inline-block; }
.small { font-size: 14px; }
.smaller,.smaller a { font-size: 13px; }
.smallest,.smallest a { font-size: 12px; }
.tookover td { background-color: #f4c3ff; padding: 0px; }
.tookover th { font-size: 12px; text-align: left; width: 125px; background-color: #f4c3ff; padding: 0px; }
.small_padding td { background-color: #eeeeee; padding: 0px; }
.small_padding th { font-size: 12px; text-align: left; width: 125px; background-color: #eeeeee; padding: 0px; }
.bin { vertical-align: top; border: 1px dotted #aaaaaa; }
.centered { text-align: center; }
.bolded { font-weight: bold; }
div.centered,table.centered { margin: 0px auto; }
table { border-collapse: collapse; }
.duplicated { background-color: #fff360; }
.citation,.finalCitation,.finalOmit { padding: 5px; }
.citationCategories { float: right; background-color: white; padding: 6px 3px 6px 3px; font-weight: bold; position: relative; display: inline-block; }
.citationCategories .tooltiptext { font-size: 13px; font-weight: normal; visibility: hidden; width: 250px; background-color: #555; color: #fff; text-align: center; padding: 5px 0; border-radius: 6px; position: absolute; z-index: 1; bottom: 100%; left: 50%; margin-left: -125px; opacity: 0; transition: opacity 0.3s; }
.citationCategories .tooltiptext b { font-size: 14px; font-weight: bold; }
.citationCategories:hover .tooltiptext { visibility: visible; opacity: 1; }
.citationCategories .tooltiptext::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent; }
.include { background-color: #c3ffc3; }
.exclude { background-color: #ffc3c4; }
.hidden { display: none; }
.biggerButton { font-size: 16px; }
.twoColumn { vertical-align: top; border: 1px dotted #aaaaaa; padding: 5px; }
.sticky { position: fixed; top: 100px; }
.shadow { box-shadow: 2px 2px 4px grey; }
tr.borderedRow td,tr.borderedRow th { border: 1px solid #bbbbbb; }
tr.centeredRow td,tr.centeredRow th { text-align: center; }
tr.paddedRow td,tr.paddedRow th { padding: 5px; }
tr.whiteRow td,tr.whiteRow th { background-color: white; }
tr.extraPaddedRow td,th { padding: 15px; }
.tooltip { position: relative; display: inline-block; text-decoration: underline; }
.tooltip .tooltiptext { visibility: hidden; width: 120px; font-size: 16px; background-color: #444444; color: #fff; text-align: center; padding: 5px 0; border-radius: 6px; position: absolute; z-index: 1; }
.tooltip:hover .tooltiptext { visibility: visible; }
.tooltip .widetooltiptext { visibility: hidden; width: 200px; background-color: #666666; color: white; text-align: center; padding: 5px 0; border-radius: 6px; position: absolute; z-index: 1; }
.tooltip:hover .widetooltiptext { visibility: visible; }
#overlay { position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.7); z-index: 2; cursor: pointer; text-align: center; vertical-align: middle; }
.lookup { clear: both; text-align: right; font-size: 11px; }
.lookupData { padding: 5px; background-color: #eeeeee; text-align: left; font-size: 14px; column-count: 2; column-gap: 10px; column-rule: 1px solid #888888; -moz-column-count: 2; -moz-column-gap: 10px; -moz-column-rule: 1px solid #888888; -webkit-column-count: 2; -webkit-column-gap: 10px; -webkit-column-rule: 1px solid #888888; display: none; }
.custom-combobox { position: relative; display: inline-block; }
.custom-combobox-toggle { position: absolute; top: 0; bottom: 0; margin-left: -1px; padding: 0; }
.custom-combobox-input { margin: 0; padding: 5px 10px; width: 200px; }
.red { background-color: #f0565d; }
.green { background-color: #8dc63f; }
.yellow { background-color: #f1f6d6; }
.blue { background-color: #d4d4eb; }
.blueBorder { border-radius: 10px; border: 4px solid #5764ae; }
.purple { background-color: #f4c3ff; }
.orange { background-color: #f79721; }
.grey { background-color: #dddddd; }
.sticky { position: fixed; top: 0; z-index: 1; }
.padded { padding: 10px; }
#content { margin-left: 225px; }   /* coordinated with .subnav */
.subnav { margin: 0; padding: 0; position: fixed; top: 125px; width: 225px; height: 100%; font-family: 'Museo Sans', sans-serif !important; text-align: center; background-color: transparent; overflow: auto; }    /* coordinated with #content and .w3-bar .topHeader */
.topHeader { background-color: white; height: 50px; top: 0px; width: 100%; }    /* coordinated with .w3-bar */
textarea.full { width: 800px; height: 400px; }
.subnav a { float: left; color: black; text-align: center; padding: 6px 4px; width: 100%; text-decoration: none; font-weight: bold; font-size: 16px; }
.subnav a:hover { background-color: white; color: black; animation-name: colorFade; animation-duration: 2s; }
@keyframes colorFade {
	0% { background-color: #aaaaaa; }
	100% { background-color: white; }
}
.minimal { width: min-content; }
.warning { color: white; }
.subnav a select { width: 100%; }
#help { display: none; padding: 16px; margin: 16px; background-color: rgba(229, 241, 213, 0.8); }   /* light green from logo */
p.blockquote { padding-left: 15px; }
#mainHelp { column-count: 2; }
#faq { padding: 15px; column-count: 2; }
.nomargin { margin: 0; }
ul.centered { text-align: center; list-style-type: none; list-style: inside; }
.wrapTightly { clear: both; width: min-content; }
input[type=text].long { width: 300px; }
input[type=datetime-local] { width: 225px; }
td.oneThird { width: 33%; vertical-align: top; border-left: 5px solid black; border-right: 5px solid black; }
.namesFiltered { height: 400px; width: 100%; overflow: scroll; background-color: rgba(255, 255, 255, 0.7); text-align: center; }
.nobreak { white-space: nowrap; }
canvas { background-color: white; margin-top: 25px; }
li.nobullets { list-style: none; }
.nowrap { white-space: nowrap; }
.centeredMinus50 { text-align: center; width: 50%; }
.max-width { margin: 0 auto; max-width: 800px; }
table.bordered tr td,table.bordered tr th { border: 1px solid #888; }
table.bordered { border-collapse: collapse; }
.action_required { color: red; font-weight: bold; }
p.bordered,div.bordered { border: 1px solid #888; }