header a { text-decoration: none; color: black; }
footer a { text-decoration: none; color: #888888; }
footer { height: 40px; position: fixed; top: calc(100% - 40px); width: 100%; color: #888888; background-color: white; }
.match { cursor: pointer; font-size: 0.8em; float: left; width: 200px; padding: 8px; border-radius: 16px; border: 1px solid black; margin: 16px !important; }
#matchBox,#mainBox { padding: 16px; text-align: center; }
#menu { margin: 0 auto; height: 100px; }
#welcomeMessage,#noDataMessage,.post { font-size: 1.25em; padding: 8px; margin: 30px auto 0 auto; max-width: 900px; background-color: #fff482; }
#noDataMessage { text-align: center; }
#welcomeMessage,#noDataMessage,.portalDescription,nav:not(:empty),iframe,.post { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); }
.portalDescription { background-color: #b0d87a; padding: 8px; text-align: center; max-width: 600px; margin: 24px auto; }
.portalGreen { background-color: #b0d87a; }
.portalButton { font-family: "Museo Sans", Arial, Helvetica, sans-serif; background-color: #f79721; padding: 6px; text-align: center; border: 1px solid #444; line-height: 42px; font-size: 18px; text-decoration: none; box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); }
.menuText { font-size: 0.9em; margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.match:nth-of-type(odd) { background-color: #f4c3ff44; }
.match:nth-of-type(even) { background-color: #d4d4eb88; }
tr.portalOdd td,tr.portalOdd th { background-color: #fff48288; }
tr.portalEven td,tr.portalEven th { background-color: #fff482ff; }
tr.portalOdd,tr.portalEven { border: 1px solid #888; }
.selectedMatch { background-color: #b0d87a !important; }
h5 { font-weight: bold; font-size: 17px !important; margin: 16px auto; }
iframe { border: 1px #dddddd solid; margin: 0 auto; }
.notme { font-size: 9px; }
.pilotGrant input[type='checkbox'] { -webkit-appearance: none; width: 16px; height: 16px; background: white; border-radius: 4px; border: 1px solid #888; }
.pilotGrant input[type='checkbox']:checked { background: #b0d87a; }
.pilotGrant { float: left; width: calc(100% - 75px); padding-left: 50px; font-size: 13px; }
.alignleft { text-align: left; }
.lightyellow { background-color: #fffbcfff; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); padding: 3px; }
#overlayFT { position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.7); z-index: 2; cursor: pointer; text-align: center; vertical-align: middle; }

nav { margin: 0 auto 50px auto; height: 60px; }
nav:has(> :last-child:nth-child(5)) {
    width: calc(140px * 5);
}
nav:has(> :last-child:nth-child(4)) {
    width: calc(140px * 4);
}
nav:has(> :last-child:nth-child(3)) {
    width: calc(140px * 3);
}
nav:has(> :last-child:nth-child(2)) {
    width: calc(140px * 2);
}
nav:has(> :last-child:nth-child(1)) {
    width: calc(140px * 1);
}
.dropbtn { width: 140px; height: 60px; font-family: "Museo Sans", Arial, Helvetica, sans-serif; color: black; padding: 16px; font-size: 16px; border: none; cursor: pointer; }
.dropdown { position: relative; display: inline-block; }
.dropdown-content { display: none; position: absolute; background-color: #eeeeee; min-width: 160px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); z-index: 1; }
.dropdown-content a { font-size: 0.85em; font-family: "Museo Sans", Arial, Helvetica, sans-serif; color: black; padding: 12px 16px; text-decoration: none; display: block; }
.dropdown-content a:hover { background-color: #d4d4eb; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color: white; }
.dropdown:nth-of-type(1) .menuItem,.dropdown:nth-of-type(6) .menuItem,.dropdown:nth-of-type(11) .menuItem,.dropdown:nth-of-type(16) .menuItem { background-color: #d4d4eb; }
.dropdown:nth-of-type(2) .menuItem,.dropdown:nth-of-type(7) .menuItem,.dropdown:nth-of-type(12) .menuItem,.dropdown:nth-of-type(17) .menuItem { background-color: #f69ca0; }
.dropdown:nth-of-type(3) .menuItem,.dropdown:nth-of-type(8) .menuItem,.dropdown:nth-of-type(13) .menuItem,.dropdown:nth-of-type(18) .menuItem { background-color: #b0d87a; }
.dropdown:nth-of-type(4) .menuItem,.dropdown:nth-of-type(9) .menuItem,.dropdown:nth-of-type(14) .menuItem,.dropdown:nth-of-type(19) .menuItem { background-color: #f79721; }
.dropdown:nth-of-type(5) .menuItem,.dropdown:nth-of-type(10) .menuItem,.dropdown:nth-of-type(15) .menuItem,.dropdown:nth-of-type(20) .menuItem { background-color: #f4c3ff; }


.responsiveHeader{ width: 150px; }
img.responsiveHeader,img.efsHeader { height: 64px; }
img.efsHeader { width: 102px; }
h1 { font-size: 24px !important; }
h2 { font-size: 24px !important; }
.centerHeader { width: calc(100% - 316px); margin-top: 4px; }
footer .smaller,footer .smaller a { font-size: 12px !important; }
#photo { display: none; }
.photo { display: block; max-width: 75px; max-height: 75px; }
@media screen and (min-width: 560px) {
    .responsiveHeader{ width: 166px; }
    img.responsiveHeader,img.efsHeader,.centerHeader { height: 71px; }
    img.efsHeader { width: 113px; }
    h1 { font-size: 28px !important; }
    h2 { font-size: 26px !important; }
    .centerHeader { width: calc(100% - 348px); margin-top: 4px; }
    footer .smaller,footer .smaller a { font-size: 13px !important; }
    #photo { display: block; max-width: 75px; max-height: 75px; }
}
@media screen and (min-width: 640px) {
    .responsiveHeader{ width: 183px; }
    img.responsiveHeader,img.efsHeader,.centerHeader { height: 78px; }
    img.efsHeader { width: 124px; }
    h1 { font-size: 32px !important; }
    h2 { font-size: 28px !important; }
    .centerHeader { width: calc(100% - 382px); margin-top: 6px; }
    footer .smaller { font-size: 13px !important; }
    #photo,.photo { display: block; max-width: 100px; max-height: 100px; }
}
@media screen and (min-width: 720px) {
    .responsiveHeader{ width: 200px; }
    img.responsiveHeader,img.efsHeader,.centerHeader { height: 85px; }
    img.efsHeader { width: 136px; }
    h1 { font-size: 36px !important; }
    h2 { font-size: 28px !important; }
    .centerHeader { width: calc(100% - 416px); margin-top: 8px; }
    footer .smaller { font-size: 13px !important; }
    #photo,.photo { display: block; max-width: 125px; max-height: 125px; }
}
#photoDiv { padding: 0 !important; z-index: -1; position: absolute; }
#photo,.photo { width: auto; height: auto; }
#newPost { width: 600px; height: 200px; }
.max-width-400 { max-width: 400px; }
.max-width-600 { max-width: 600px; }
