.loginleft{
  background-image: url(/img/jet_bg.png);
  border-bottom-left-radius: 10px;
  background-size: cover;
  padding-top: 175px;
  font-size: 17px;
  line-height: 22px;
  padding-bottom: 25px;color: #727272;    
  font-family: europa, sans-serif;
  font-weight: 200;
  padding-left: 39px;
  padding-right: 39px;
}

.rcorners1 {
  border-radius: 10px;
  background: #ffffff;
  padding: 20px;
  padding-bottom: 0px;
  width: 200px;
  -webkit-box-shadow: 0px 0px 33px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 33px 4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 33px 4px rgba(0,0,0,0.3);
  width: 838px;
    margin: auto;
    margin-top: 37px;
    padding-right: 15px;
    padding-left: 15px;
}
.rcorners1 h2{
  color: #727272;font-size: 24px;letter-spacing: -0.7px;    margin-bottom: 16px;
}
.forgotpassword{
  float: right;    margin-top: -1rem;
}
.forgotpassword a{
  color:#63acc2; text-decoration: underline;
}
.signinbutton{
  clear: both;
}
.loginsec{border-bottom-right-radius: 10px;
  font-family: europa, sans-serif; 
  color: #727272;
  font-size: 16px; 
  background-color: #ffffff;
    font-weight: 200;
    background-color: #f7f7f7;padding-left: 30px;padding: 30px;
  }
form label{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000000;
}
form input {
  font-size: 14px !important;
    font-weight: 200 !important;
    letter-spacing: 0px;
    color: #000000; 
}
.fakesubmit{color:#ffffff !important; 
    background-color: #63acc2 !important;    
    float: right;font-size: 12px !important;  
    padding-bottom: 10px !important;}



  .bg-light {
       background-color: #ffffff !important; 
  }


  .note_signin{
    background-image: url(/images/note_signin.png);
    height: 57px;
    width: 217px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 364px;
    bottom: 38px;
    opacity: .3;
  }
